.footer{
    display: flex;
    flex-wrap: wrap;
    background-color: $secondary;
    height: auto;
    padding: 32px 21% 39px ;
    @include pad{
        .mobilWrap{
            width: 100%;
        }
        padding: 38px 39px 32px 39px ;
    }
    @include mobil{
        //mobilWrap
        .mobilWrap{
            display: flex;
            flex-direction: row-reverse;
        }
        padding: 24px 8% 25px;
    }
    color: $white;
    .mobilWrap{
        width: 100%;
        .footerMenu{
            font-size: $font-1;
            display: flex;
            justify-content: space-between;
            ul{
                display: flex;
                li{
                    a{
                        color: $white;
                    }
                }
            }
        }
        .footerTel{
            font-size: $font-xl;
            width: 100%;
            @include pad{
                font-size: $font-l;
                @include mobil{
                    font-size: $font-1;
                }
            }
            .phone,.mail{
                a{
                    display: flex;
                    color: $white;
                    align-items: center;
                    img{
                        @include pad{
                            width:20px;
                            @include mobil{
                                width: 15px;;
                            }
                        }
                    }  
                }
            }
        }
    }
    .footerCc{
        font-size: $font-1;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 32px;
        border-top: 1px solid #fff;
        @include pad{
            padding-top: 24px;
        }
        @include mobil{
            padding-top: 16px;
            font-size: $font-s;
            display: flex;
            flex-wrap: wrap;

            p{
                width: 100%;
            }
            
        }
        .rP{
            display: flex;
            flex-wrap: wrap;
            p{
                margin-left: 48px;
                @include mobil{
                    margin: 8px 0 0 0;
                }
            }
        }
    }
}

.footerMenu{
    .list{
        li{
            margin-right: 48px;
            @include pad{
                margin-right: 40px;
                @include mobil{
                    display: none;
                }
            }
        }
    }
    .icon{
        li{
            margin-left: 32px;
            @include pad{
                img{
                    width: 24px;
                }
                margin-left: 24px;
                
            }
            @include mobil{
                margin-left: 24px;
            }
        }
    }
}

.footerTel{
    .phone{
        margin-top: 42px;
        @include pad{
            margin-top: 18px;
            @include mobil{
                margin-top: 0;
            }
        }
        img{
            margin-right: 22px;
            @include pad{
                margin-right: 18px;

            }
        }
    }
    .mail{
        margin-top: 30px;
        margin-bottom: 32px;
        @include pad{
            margin-top: 12px;
            margin-bottom: 20px;
        }
        img{
            margin-right: 20px;
            @include pad{
                margin-right: 10px;
            }
        }
    }
}



