.faq{
    margin-top: 7%;
    margin-bottom: 7%;
    padding-left: 10%;
    padding-right: 10%;
    @include pad{
        margin-bottom: 10%;
        padding-left: 5%;
        padding-right: 5%;
        @include mobil{
            margin-top: 4%;
            margin-bottom: 8%;
            padding-left: 4%;
            padding-right: 4%;
        }
    }
    .h1{
        border-left: 6px solid $secondary;
        font-size: $font-3;
        font-weight: bold;
        text-align: left;
        margin-bottom: 60px;
        @include pad{
            margin-bottom: 40px;
            @include mobil{
                font-size: $font-lll;
                margin-bottom: 24px;
                padding-left: 8px;
            }
        }
    }
    .h2{
        font-size: $font-2;
        text-align: left;
        @include mobil{
            font-size: $font-l;
        }
        .h3{
            font-size: $font-l;
            font-weight: bold;
            @include pad{
                margin-bottom: 24px;
                @include mobil{
                    margin-top: 24px;
                    font-size: $font-1;
                    margin-bottom: 20px;
                }
            }
            p{
                font-size: $font-1;
                padding-left: 10%;
                @include pad{
                    padding-left: 7%;
                    @include mobil{
                        font-size: $font-s;
                        padding-left: 0;
                        margin-top: 8px;
                    }
                }
            }
        }
    }
}