*,*:before,*:after{
    Box-sizing:border-box;
    }
    
body{
    font-family: 'Roboto','Noto Sans','思源黑體 TW',sans-serif;
    line-height: 1.5;
}

a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
}
