//margin-left
.ml-4{
    margin-left: 32px;
}
.ml-6{
    margin-left: 48px;
}
.ml-30{
    margin-left: 30px;
}

//margin-top
.mt-20px{
    margin-top: 20px;
}
.mt-36px{
    margin-top: 36px;
}
.mt-1{
    margin-top: 8px;
}
.mt-2{
    margin-top: 16px;
}
.mt-3{
    margin-top: 24px;
}
.mt-5{
    margin-top: 40px;
}

//margin-right

//margin-bottom
.mb-1{
    margin-bottom: 8px;
}
.mb-2{
    margin-bottom: 16px;
}
.mb-4{
    margin-bottom: 32px;
}
.mb-5{
    margin-bottom: 40px;
}
//padding-top
.pt-2{
    padding-top: 16px;
}



//padding-bottom
.pb-1{
    padding-bottom: 8px;
}
.pb-2{
    padding-bottom: 16px;
}

//padding-left
.pl-2{
    padding-left: 16px;
}
//other
.container{
    max-width: 1110px;
    margin: 0 auto;
    text-align: center;
}

.p-60-80{
    padding: 60px 0 80px 0;
    @include pad{
        padding: 40px 0 56px 0;
        @include mobil{
            padding: 40px 0 32px 0;
        }
    }
}

.df{
    display: flex;
}
.fx-w-w{
    flex-wrap: wrap;
}
.fx-w-nw{
    flex-wrap: nowrap;
}
.df-c-c{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fd-c{
    flex-direction: column;
}
.jcsb{
    justify-content: space-between;
}

.jcc{
    justify-content: center;
}