//顏色設定
$primary:#650300;
$secondary:#AA0601;
$thirdColor:#AA06010D;
$white:#fff;


//字體大小
$font-1:16px ;

$font-2:$font-1*2 ;
$font-3:$font-1*3 ;
$font-4:$font-1*4 ;

$font-s:$font-1*0.875 ;//14px
$font-l:$font-1*1.25 ;//20px
$font-ll:$font-1*1.5 ;//24px
$font-lll:$font-1*1.75 ;//28px
$font-xl:$font-1*2.25 ;//36px
$font-xxl:$font-1*4.5 ;//72px



